<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voicerecognizersp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity
            android:name=".BindingActivity"
            android:label="@string/title_name" 
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <service
  			android:name=".RecordingMfccService"
  			>
		</service>
		
        <service
  			android:name=".Stefano"
  			
  			
  			>
		</service>
		
        <service
  			android:name=".MfccService"
  			android:exported="false"
  			  			
  			>
		</service>
		
        <!-- android:theme="@android:style/Theme.NoDisplay"
			android:enabled="true"
			android:allowTaskReparenting="true"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:alwaysRetainTaskState="false"
			android:stateNotNeeded="true"
			android:clearTaskOnLaunch="true"
			android:finishOnTaskLaunch="true" -->
		
         <service
          android:name=".MfccIntentService"
          android:exported="false"/>
		
        <!-- 
         <activity
            android:name="com.example.classifiertest.MainBindingActivity"
            android:label="@string/title_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <service
  			android:name="com.example.classifiertest.RecordingMfccService">
		</service>
		
		-->
    </application>
    
     
        

</manifest>
